@import "./base.css";

#login, #registry, #home{
    animation-name: template-loading;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: black;
}

@keyframes template-loading{
    0%{
        filter: blur(0.5rem);
        background-color: black;
    }
    100%{
        filter:blur(0);
        background-color: black;
    }
}



