@import "./base.css";
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
#login, #registry, #home, #admin{
    animation-name: template-loading;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes template-loading{
    0%{
        filter: blur(0.5rem);
    }   
    100%{
        filter:blur(0);
    }
}

.main-loading-container{
    animation-name: loading-container;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes loading-container{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}



.table-box::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}
.admin-table::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}
.main-admin-container::-webkit-scrollbar { 
    width: 0 !important;
    -ms-overflow-style: none; }

.main-admin-container::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

select::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.main-home-container::-webkit-scrollbar { 
    width: 0 !important;
    -ms-overflow-style: none; }

.arrival-depature-container::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}
.main-admin-table::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}










