@import "./base.css";
*{
    box-sizing: border-box;
}
#login, #registry, #home{
    animation-name: template-loading;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes template-loading{
    0%{
        filter: blur(0.5rem);
    }   
    100%{
        filter:blur(0);
    }
}

.table-box::-webkit-scrollbar {
    display: none;
}

select::-webkit-scrollbar {
    display: none;
}

.main-home-container::-webkit-scrollbar {
    display: none;
}









